$navbar-default-bg: #65cc33;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('blogbanner.png');
  background-size: 100% 100%;
  height: 400px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #65cc33;
}

.btn-xlarge:hover {
  font-size: 1.7em;
  background-color: #ff9c04;
  text-decoration: none;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}