
<div class="container">
  <footer class="footer">
    <hr>
    <small> 
      <p>Also checkout my Responsive Site from a previous bootstrap project here <a href="http://www.greedyhippy.com/">GreedyHippy.com</a> |
    

      <!-- And add a copyright notice.-->
      &#169; GreedyHippy, 2017</p>
    </small>
    <nav>
      <ul>
       <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>